@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --palette-bg: #fdfdfd;
  --palette-grey: #f2f2f2;
  --palette-accent: #fdbc11;
  --palette-brand: #ec4466;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

html,
body,
main {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--palette-bg);
}

#header {
  box-shadow: 0px -2px 18px 0px #8080801a;
}

@media only screen and (max-width: 428px) {
  #header {
    box-shadow: none;
  }
}
